@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="list-group">
    <a asp-page="/Profiles/Profile" class="list-group-item list-group-item-action active">Profil</a>
    <a asp-page="/Profiles/CompanySearchProfile" class="list-group-item list-group-item-action">Sök Profiler</a>
    <a asp-page="/Profiles/Organizer/SearchProfileMatches" class="list-group-item list-group-item-action">Matchningar</a>
    <a asp-page="/Profiles/MatchMessages" class="list-group-item list-group-item-action">Meddelanden</a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
</div>