@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="list-group">
    <a asp-page="/Profiles/Profile" class="list-group-item list-group-item-action active">Profil</a>
    <a asp-page="/Profiles/Organizer/Schools" class="list-group-item list-group-item-action">Skolor</a>
    <a asp-page="/Profiles/Organizer/VerifyStudents" class="list-group-item list-group-item-action ">Verifiera studenter</a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
</div>