@page
@model YHmer.Pages.AppointmentInvitationsModel
@{
}

<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Appointments</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Meeting</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <button class="btn btn-primary">Accept</button>
                    <button class="btn btn-danger">Decline</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Meeting</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <button class="btn btn-primary">Accept</button>
                    <button class="btn btn-danger">Decline</button>
                </div>
            </div>
            <hr>

        </div>
    </div>
</div>