@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="frontPageBackground">
    <div class="text-center">
        <h1 class="display-4">YHmer</h1>
    </div>
    <p class="LandningsText">För företag, studerande, anordnare involverade i Yrkeshögskolans utbildningar</p>
    <div class="row align-items-center">
        <div class="col">
            <button class="ButtonClass">Kommande utbildningar</button>
        </div>
        <div class="col">
            <button class="ButtonClass">Uppdrag för företag</button>
        </div>
        <div class="col">
            <button class="ButtonClass">LIA för företag</button>
        </div>
        <div class="col">
            <button class="ButtonClass">Anordnare söker medarbetare</button>
        </div>
    </div>
</div>



