@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h1>YHmer integritetspolicy och användningsområden av personuppgifter.</h1>
    <hr />
    <div class="text-center">
        <p>
            YHmer använder cookies på sin hemsida för att hantera inloggade användare och vilken roll de har på hemsidan.
            YHmer lagrar även personuppgifter, detta för att fullfölja hemsidans huvudsyfte, vilket är att matcha lämpliga kanditater
            av studenter, skolor och företag med varandra. All information du anger på hemsidan kan du också förändra samt ta bort själv.
        </p>
    </div>

    <a href="/Registration/Options">Tillbaka</a>
</div>
