@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <button class="btn btn-primary" onclick="logout()">Logga ut</button>
</div>