@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <a asp-page="/Login/Login">
        Logga in
    </a>
    eller
    <a asp-page="/Registration/Options">
        Registrera
    </a>
</div>