@page
@model YHmer.Pages.Registration.OptionsModel
@{
}



<form name="selection" class="registerselections" method="post">
    <div class="row align-items-center mx-auto">
        <div class="col">
            <input class="ButtonClass" name="Student" type="submit" value="Student" />
        </div>
        <div class="col">
            <input class="ButtonClass" name="Företag" type="submit" value="Företag" />
        </div>
        <div class="col">
            <input class="ButtonClass" name="Anordnare" type="submit" value="Anordnare" />
        </div>
    </div>
</form>



